* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html {
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.login {
    padding: 30px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;    
    display: flex;
    max-width: 400px;
    flex-direction: column;  
}
.login-heading {
    text-align: center;
    margin-bottom: 32px;
}
.login-heading h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.login-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.text-Ten, 
.text-API, 
.text-Tuoi,
.select-GioiTinh {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 8px;
}
.login-info button {
    margin-top: 32px;
    padding: 8px;   
    font-size: 16px;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}